<div class="home-page">
  <div class="banner">
    <div class="container">
      <% if logged_in? %>
        <%= link_to "Post Article", new_article_path, class: "btn btn-info" %>
        <%= button_to "Sign out", signout_path, method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Sign in", signin_path, class: "btn btn-primary" %>
      <% end %>
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" href="">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>

        <% @articles.each do |article| %>
          <div class="article-preview">
            <a href="<%= article_path(article) %>" class="preview-link">
              <h1><%= article.title %></h1>
              <p><%= article.description %></p>
              <span>Read more...</span>
              <p class="author"><%= article.user.name.presence || '' %></p>
              <% if article.tag_list.present? %>
                <ul class="tag-list">
                  <% article.tag_list.split(' ').each do |tag| %>
                    <li class="tag-default tag-pill tag-outline"><%= tag.strip %></li>
                  <% end %>
                </ul>
              <% end %>
            </a>
          </div>
        <% end %>

        <div class="pagination">
          <%# paginate @articles, theme: 'bootstrap-4' %>
          <%= paginate @articles %>

        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="" class="tag-pill tag-default">programming</a>
            <a href="" class="tag-pill tag-default">javascript</a>
            <a href="" class="tag-pill tag-default">emberjs</a>
            <a href="" class="tag-pill tag-default">angularjs</a>
            <a href="" class="tag-pill tag-default">react</a>
            <a href="" class="tag-pill tag-default">mean</a>
            <a href="" class="tag-pill tag-default">node</a>
            <a href="" class="tag-pill tag-default">rails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>